{% extends 'base.html.twig' %}

{% block title %}Hello SyncController!{% endblock %}

{% block body %}
    <style>
        body {background-color: #EAEAEA;}
    </style>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Profiel</h3>
                    <p class="card-text"></p>
                    <hr>
                    <p>
                        <br>
                        Telefoonnummer:
                        <br>
                        Organisatie:
                        <br>
                        Stagesoort:
                        <br>
                        Periode:
                        <br>
                        Status:
                        <br>
                        Beoordeeling:
                    </p>
                    </p>
                    </p>
                    </p>
                    <hr>
                    <br>
                    <center> <div class="card" style="width: 18rem;">
                            <center>     <div class="card-body "</center>
                            <center> <h4 class="card-title ">Skills</h4></center>
                            <hr>
                            <p class="card-text"></p>
                        </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Posts</h3>
                <hr>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title text-center">Certificaaten</h3>
                <hr>
                <br>
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title">Upload</h4>
                            <br>
                            <form action="upload.php" method="post" enctype="multipart/form-data">
                                <h6> Selecteer bestand </h6>
                                <hr>
                                <input type="file" name="fileToUpload" id="fileToUpload">
                                <hr></hr>
                                <input type="submit" value="Upload Bestand" name="submit">
                            </form>
                            <br>
                            <p class="card-text">Certificaat Datum</p>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

{% endblock %}


