{% extends 'base.html.twig' %}

{% block body %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<div class="container my-5" id="textstyle">
    <div class="row">
        <div class="col-md-6 p-4 p-sm-5 order-2 order-sm-1">
            <small class="text-uppercase" style="color: #9B5DE5;"></small>
            <h1 class="h2 mb-4" style="font-weight: 600;">Our <span style="">mission</span></h1>
            <p class="text-secondary" style="line-height: 2;">Onze missie is helder en gericht op de toekomst. We zijn vastbesloten om de stage-ervaring van studenten te verbeteren door middel van technologie en toegankelijkheid. Ons doel is om een gebruiksvriendelijke website en app te ontwikkelen waarmee studenten hun stagevoortgang kunnen volgen en documenteren. Tegelijkertijd willen we docenten en begeleiders de tools bieden om effectiever te begeleiden en feedback te geven. Onze waarden omvatten transparantie en empowerment, en we geloven dat elke student het recht heeft om zijn of haar professionele ontwikkeling te begrijpen en te sturen. Samen werken we aan een toekomst waarin elke stagiair met vertrouwen zijn of haar loopbaanpad kan bewandelen.
            </p>

        </div>
        <div class="col-md-6 p-0 text-center order-1 order-sm-2">
            <img src="https://www.boele.nl/dynamics/modules/SFIL0200/view.php?fil_Id=7641&thumb_nr=108" class="w-100" alt="">
        </div>

        <div class="col-md-6 p-0 text-center">
            <img src="https://twa.nl/wp-content/uploads/2020/06/Teamfoto_TWA_juni_2020-scaled.jpg" class="w-100" alt="">
        </div>
        <div class="col-md-6 p-4 p-sm-5">
            <small class="text-uppercase" style="color: #9B5DE5;"></small>
            <h1 class="h2 mb-4" style="font-weight: 600;">About<span style=""> us</span></h1>
            <p class="text-secondary" style="line-height: 2;">Wij zijn een groep enthousiaste stagiairs bij het Ministerie van Binnenlandse Zaken, en we hebben een belangrijke missie. Ons doel is om de stage-ervaring van studenten te verbeteren door middel van een innovatieve website en app.

                Met onze tools kunnen studenten gemakkelijk hun stagevoortgang bijhouden, certificaten uploaden en hun prestaties documenteren. Docenten en begeleiders krijgen de mogelijkheid om de voortgang van hun studenten te monitoren en waardevolle feedback te geven.

                Wij staan voor gebruiksvriendelijkheid en transparantie, omdat we geloven dat elke student het recht heeft om te weten hoe ver ze zijn in hun stage en hoe ze hun professionele ontwikkeling kunnen verbeteren. Samen werken we aan een toekomst waarin elke student met vertrouwen zijn of haar stage kan doorlopen.</p>

        </div>
    </div>
</div>
{% endblock %}